
#imagen{

    height:60px;
}
img{
    width: 400px; height: 320px;
    /*border:3px solid #0099cc;*/

}
.borde{
    margin: 0.2%;
 }
.descripcion{

    text-align: justify;
}
body {
    background: #191828;
    color: #efedef;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6em;
    margin: 0;
    padding: 100px; }
h1,h6,#proyectos,#contactame  {
     font-size: 45px;
     line-height: 0.8em;
     color: rgba(28,193,190,4);
 }
#proyectos{

    text-align: center;
}
h6, #lp, #ingles {
    font-size: 30px;
    line-height: 0.8em;
    color: rgba(28,193,190,4);
}
#vinilo, #medicAndes {
    font-size: 30px;
    color:rgb(237, 54, 98);
    margin: 4%;
    text-align: center;

}
/*a {
    background: #fd264f;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}*/
button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none; }

.tabs {
    display: block;
    display: -webkit-flex;
    /*display: -moz-flex;*/
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; }
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #fd264f; }
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f; }
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1; }
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.tabs .tab-2 {
    width: 50%; }
.tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%; }
.tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0; }
.tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%; }
.tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%; }

#imagen2 {

    background: url('../img/perfil.jpg');
    height: 200px;
    width: 200px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

    display:block;
    margin:auto;


}
.seccion2{
    color: white !important;
    height:220px;
    text-align: center;

}
.seccion3{
    color: white !important;
    height:190px;
    text-align: center;

}
/*.seccionProyectos{*/

    /*height: 400px;*/
/*}*/

.invisible{
    text-indent:-666em;
    overflow:hidden;
}
.facebook{

    background: url('../img/facebook.png');
    height: 50px;
    width: 50px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

    display:block;
    margin:auto;
}
.twitter{

    background: url('../img/twitter.png');
    height: 50px;
    width: 50px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

    display:block;
    margin:auto;
}
.github{

     background: url('../img/github.png');
     height: 50px;
     width: 50px;

     background-repeat: no-repeat;
     background-position: 50%;
     border-radius: 50%;
     background-size: 100% auto;

     display:block;
     margin:auto;
 }
.linkedin{

    background: url('../img/linkedin.png');
    height: 50px;
    width: 50px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

    display:block;
    margin:auto;
}
/*ESTILOS DE LAS BARRAS*/

@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

/* Basic resets */

* {
    margin:0; padding:0;
    box-sizing: border-box;
}

body {
    margin: 50px auto 0;


    font-family: "Expletus Sans", sans-serif;
}

li {

    width: 50%;
    float: left;
    list-style-type: none;

    padding-right: 5.3333333%;
}

li:nth-child(even) { margin-bottom: 5em;}

h2 {
    margin: 0 0 1.5em;
    border-bottom: 1px solid #ccc;

    padding: 0 0 .25em;
}

/* Styling an indeterminate progress bar */

progress:not(value) {
    /* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/* Styling the determinate progress element */

progress[value] {
    /* Get rid of the default appearance */
    appearance: none;

    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;

    /* Add dimensions */
    width: 100%; height: 20px;

    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;

    position: relative;
    margin: 0 0 1.5em;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;

    /* Let's animate this */
    animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

/* Let's spice up things little bit by using pseudo elements. */

progress[value]::-webkit-progress-value:after {
    /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
    content: '';
    position: absolute;

    width:5px; height:5px;
    top:7px; right:7px;

    background-color: white;
    border-radius: 100%;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

progress[value]::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
            -moz-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -moz-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -moz-linear-gradient( left, #09c, #f44);

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;

    /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

    /* Dimensions should be similar to the parent progress element. */
    width: 100%; height:20px;
}

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;

    display: block;
    text-indent: -9999px;
}

p[data-value] {

    position: relative;
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute; right:0;
}





.html5::-webkit-progress-value,
.python::-webkit-progress-value  {
    /* Gradient background with Stripes */
    background-image:
            -webkit-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -webkit-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -webkit-linear-gradient( left, #09c, #f44);
}

.css3::-webkit-progress-value,
.php::-webkit-progress-value
{
    /* Gradient background with Stripes */
    background-image:
            -webkit-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -webkit-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -webkit-linear-gradient( left, #09c, #ff0);
}

.jquery::-webkit-progress-value,
.node-js::-webkit-progress-value
{
    /* Gradient background with Stripes */
    background-image:
            -webkit-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -webkit-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -webkit-linear-gradient( left, #09c, #690);
}

/* Similarly, for Mozillaa. Unfortunately combining the styles for different browsers will break every other browser. Hence, we need a separate block. */

.html5::-moz-progress-bar,
.php::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
            -moz-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -moz-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -moz-linear-gradient( left, #09c, #f44);
}

.css3::-moz-progress-bar,
.php::-moz-progress-bar

{
/* Gradient background with Stripes */
    background-image: -moz-linear-gradient(135deg,
    transparent,
    transparent 33%,
    rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%,
    transparent 66%),
    -moz-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .2)),
    -moz-linear-gradient(left, #09c, #ff0)
;
}

.jquery::-moz-progress-bar,
.node-js::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image: -moz-linear-gradient(135deg,
    transparent,
    transparent 33%,
    rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%,
    transparent 66%),
    -moz-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .2)),
    -moz-linear-gradient(left, #09c, #690);
}

/* galeria de fotos */

/* THE END */

@import url(http://fonts.googleapis.com/css?family=Anaheim);

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
*:before,
*:after{
    box-sizing: border-box;
}
html,
body{
   /* min-height: 100%;*/
}
/*body{
    background-image: radial-gradient(mintcream 0%, lightgray 100%);
}*/
h1{
    /*display: table;*/
    /*margin: 5% auto 0;*/
    /*text-transform: uppercase;*/
    /*font-family: 'Anaheim', sans-serif;*/
    /*font-size: 4em;*/
    /*font-weight: 400;*/
    text-shadow: 0 1px white, 0 2px black;
}
.container{
    margin: 4% auto;
    width: 210px;
    height: 140px;
    position: relative;
    perspective: 1000px;
}
#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}
#carousel:hover{
    animation-play-state: paused;
}
#carousel figure{
    display: block;
    position: absolute;
    width: 120%;
    height: 120%;
    left: 10px;
    top: 10px;
    /*background: black;*/
    overflow: hidden;
    border: solid 3px darkcyan;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(380px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(380px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(380px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(380px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(380px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(380px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(380px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(380px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(380px);}

img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
    transition: all .5s ease;
}
img:hover{
    -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

